<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--Custom CSS-->
    <link rel="stylesheet" href="css/gallery.css">
    <link rel="stylesheet" href="css/style.css">

    <!--JQuery-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <!--Bulma-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
    <!-- Bulma Icon -->
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>



    <title>About US</title>
</head>

<body>

    <body>
        <div class="boardlist-wrapper">
            <div class="boardlist-main">
                <div class="boardlist-main-header">
                    <div class="boardlist-main-header-title">
                        <a href="index2.html">
                            <img src="images/logo.png">
                            <span>PoloroidIFY</span>
                        </a>

                    </div>
                    <div class="boardlist-main-header-menu">
                        <a href="about.html">Why Polaroid?</a>
                        <a href="galery.html"> 둘러보기</a>
                        <a href="upload.html">업로드</a>
                        <div class="mymenu">
                            <a>마이페이지</a>
                            <div class="submenu">
                                <a href="mygallery.html">보관함</a>
                                <a href="index.html">로그아웃</a>
                            </div>

                        </div>

                        
                    </div>
                </div>
            </div>
            <div class="home-explain">
                <div class="home-explain-img">
                    <div class="home-explain-text">
                        <p style="font-weight: 500; font-size: 35px; font-family: 'Roboto'; color: #2370C8;">
                            <b>Why PoloroidIFY?</b>
                        </p>
                        <p style="font-weight: bold; font-size: 45px; font-family: 'Roboto'; color: #262A4E; ">
                            디지털 사진의 폴라로이드화?</p>
                        <p style="font-size: 20px; font-family: 'Roboto'; color: #646464; ">
                            맛있는 음식을 먹을 때, 사랑하는 사람과 함께하는 순간, 모두 기록하면 좋은 순간들이지요!
                            혹시 이 순간 사진찍는게 의무적이고, 기계적인가요? 그건 어쩌면 디지털 사진이 지닌 어쩔 수 없는 단점일 수도 있습니다.
                            저희는 여러분의 앨범에 넘치도록 쌓여 있는 사진들을 그 속에서 꺼내어, 유일성이라는 특별함을 부여하고자 합니다.
                            폴라로이드 사진처럼, 본인만의 생각을 적어주고, 주변 사람들과 공유해보세요. 그저 휴대폰 용량을 차지하던 데이터를 소중한 추억으로 재 탄생시킵니다. 
                            그저 스마트폰 화면안에 격자로 모여있는 사진들을 폴라로이드 형태로 변환하고 보관함에 모아보세요.
                            자신의 추억을 기록했다면, 이제 다른 사람들이 올린 사진들을 둘러보세요. 혹시 맘에 드는 사진이 있다면 좋아요를 눌러주세요. 
                            주기적으로 가장 많은 좋아요를 받은 사진은 도메인 메인화면에 걸리게 됩니다! 
                        </p>
                        <br>
                        <p style="font-weight: 500; font-size: 35px; font-family: 'Roboto'; color: #2370C8;">
                            <b>From digital to analog</b>
                        </p>
                        <p style="font-weight: bold; font-size: 40px; font-family: 'Roboto'; color: #262A4E; ">
                            진짜 폴라로이드로 인화해드립니다</p>
                        <p style="font-size: 20px; font-family: 'Roboto'; color: #646464; ">
                            내가 올린 사진은 필요하다면 저희가 실제로 인화해 드립니다. 여러분의 보관함에서 실제로 소장하고 싶은 사진을 선택하세요! 번거롭게 인화소를 다녀가실 필요 없이 배송해 드립니다.
                            폴라로이드 사진을 직접 손으로 만져보며, 자신만의 공간에 모아보는 것도 좋은 취미가 될 거에요. 
                            
                        </p>
                    </div>
                </div>
           </div>   

    </body>
    <footer class="home-footer">
        <a> designed by Songwonjong </a>
        <br>
        "Falling in love should be like Polaroids — instant."
        <br>
        <a href="https://www.instagram.com/songmach2/">Instagram</a>
    </footer>

</html>