<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<!--Custom CSS-->
	<link rel="stylesheet" href="galery.css">
	<link rel="stylesheet" href="style.css">
	<!--JQuery-->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<!--Bulma-->
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
	<!-- Bulma Icon -->
	<script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>



	<title>사진 구경하기</title>
	<script>
		$('document').ready(function () {
			const imageList = [
				{
					image: "images/1.jpeg",
					writer: "송원종",
					tittle: "거제도바다",
					comments: "거제도바다는 정말 아름답습니다.",
					likes: 6,
					date: "2023-05-13"

				},
				{
					image: "images/2.jpeg",
					writer: "김영희",
					tittle:"예시 사진",
					comments: "이 사진은 예시 사진입니다.",
					likes: 3,
					date: "2023-05-13"
				},
				{
					image: "images/3.jpeg",
					tittle:"예시 사진",
					comments: "이 사진은 예시 사진입니다.",
					writer: "송원종",
					likes: 1,
					date: "2023-05-13"
				},
				{
					image: "images/4.jpeg",
					tittle:"예시 사진",
					writer: "박지현",
					comments: "이 사진은 예시 사진입니다.",
					likes: 4,
					date: "2023-05-13"
				},
				{
					image: "images/5.jpeg",
					tittle:"예시 사진",
					writer: "유재헌",
					comments: "이 사진은 예시 사진입니다.",
					likes: 8,
					date: "2023-05-13"
				},
				{
					image: "images/6.jpeg",
					tittle:"예시 사진",
					writer: "권순용",
					comments: "이 사진은 예시 사진입니다.",
					likes: 3,
					date: "2023-05-13"
				},
				{
					image: "images/7.jpg",
					tittle:"예시 사진",
					writer: "신마괴",
					comments: "이 사진은 예시 사진입니다.",
					likes: 1,
					date: "2023-05-13"
				},
				{
					image: "images/8.jpeg",
					tittle:"예시 사진",
					writer: "신마괴",
					comments: "이 사진은 예시 사진입니다.",
					likes: 1,
					date: "2023-05-13"
				}
			]
			imageList.forEach((image) => {
				$('.boardlist-main-card').append(
					`
					<div class="card">
						<div class="card-content">
							<p class="title" style="display: flex; justify-content: center">
								<img src="${image.image}">
							</p>
							<div class="card-content-title-like">
								<h1 class="title" style="margin: 0">
									${image.tittle}
								</h1>
							</div>
							<div class="card-content-comment">
								<span class="comment">
									<span>${image.comments}</span>
							</div>
							<div class="icon-text">
								<span class="icon" style="cursor: pointer" onclick="good_board('{{board_id}}')">
									<i class="fas fa-heart"></i>
								</span>
								
								<span>+ ${image.likes}</span>
							</div>
						</div>

						<footer class="card-footer">
							<div>${image.writer}</div>
							<div>${image.date}</div>
						</footer>
					</div>

					`
				)
			})

		})
	</script>
</head>

<body>
	<div class="boardlist-wrapper">
		<div class="boardlist-main">
			<div class="boardlist-main-header">
				<div class="boardlist-main-header-title">
					<a href="index2.html">
						<img src="logo.png">
							<span>PolaroidIFY</span>
						  </a>
				</div>
				<div class="boardlist-main-header-menu">
					<a href="about.html">Why Polaroid?</a>
					<a href="galery.html"> 둘러보기</a>
					<a href="upload.html">업로드</a>
					<div class="mymenu">
						
					  <div class="mymenu">
							<a>마이페이지</a>
							<div class="submenu">
								<a href="mygallery.html">보관함</a>
								<a href="print.html">인화하기</a>
							</div>
							
						</div>
				   
					
				</div>
				<a href="index.html">로그아웃</a>
			</div>
			<div class="boardlist-main-header-search">
                <input type="text" placeholder="#태그를입력하세요">
                <button>검색</button>


			<div class="boardlist-main-card">
				<!-- 이미지 리스트 -->
			</div>
		</div>
	</div>
	
	  
</body>
<footer class="home-footer">
	<a> designed by Songwonjong </a>
	<br>
	"Falling in love should be like Polaroids — instant."
	<br>
	<a href="https://www.instagram.com/songmach2/">Instagram</a>
  </footer>
</html>