<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<!--Custom CSS-->
	<link rel="stylesheet" href="css/gallery.css">
	<link rel="stylesheet" href="css/style.css">
	<!--JQuery-->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<!--Bulma-->
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
	<!-- Bulma Icon -->
	<script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>



	<title>사진 구경하기</title>
	<script>
		$('document').ready(function () {
			const imageList = [
				{
					image: "images/12.jpg",
					writer: "송원종",
					tittle: "개잘잠",
					comments: "자기가 진짜 사람인줄 알아!",
					likes: 6,
					date: "2023-05-13"

				},{
					image: "images/wind.jpeg",
					writer: "송원종",
					tittle: "태풍",
					comments: "바람이 심하게 부는 날이에요!",
					likes: 3090,
					date: "2023-05-25"

				},
				{
					image: "images/10.jpeg",
					writer: "권순용",
					tittle:"웃참",
					comments: "뭘 봤길래..",
					likes: 6492,
					date: "2023-05-13"
				},
				{
					image: "images/3.jpeg",
					tittle:"야자수 그림자",
					comments: "바닷가에서 찍은 사진이에요.",
					writer: "송원종",
					likes: 1,
					date: "2023-05-13"
				},
				{
					image: "images/4.jpeg",
					tittle:"다낭",
					writer: "박지현",
					comments: "베트남 진짜 더워요...",
					likes: 4,
					date: "2023-05-13"
				},
				{
					image: "images/5.jpeg",
					tittle:"길거리",
					writer: "유재헌",
					comments: "햇빛이 예뻐서 담아봤어요!",
					likes: 8,
					date: "2023-05-13"
				},
				{
					image: "images/6.jpeg",
					tittle:"호이안",
					writer: "권순용",
					comments: "호이안 고대수도에 가 봤어요.",
					likes: 3,
					date: "2023-05-13"
				},
				{
					image: "images/7.jpg",
					tittle:"시부야 전망",
					writer: "이동범",
					comments: "시부야 스퀘어 옥상에서 찍은 사진이에요~",
					likes: 1,
					date: "2023-05-13"
				},
				{
					image: "images/8.jpeg",
					tittle:"순간 포착",
					writer: "송원종",
					comments: "그라운드 시소 성수에서 찍었어요.",
					likes: 1,
					date: "2023-05-13"
				},
				{
					image: "images/11.jpeg",
					tittle:"낮술",
					writer: "유준호",
					comments: "왜 이러는 걸까요..",
					likes: 4,
					date: "2023-05-13"
				},
			]
			imageList.forEach((image) => {
				$('.boardlist-main-card').append(
					`
					<div class="card">
						<div class="card-content">
							<p class="title" style="display: flex; justify-content: center">
								<img src="${image.image}">
							</p>
							<div class="card-content-title-like">
								<h1 class="title" style="margin: 0">
									${image.tittle}
								</h1>
							</div>
							<div class="card-content-comment">
								<span class="comment">
									<span>${image.comments}</span>
							</div>
							<div class="icon-text">
								<span class="icon" style="cursor: pointer">
									<i class="fas fa-heart"></i>
								</span>
								
								<span>+ ${image.likes}</span>
							</div>
						</div>

						<footer class="card-footer">
							<div>${image.writer}</div>
							<div>${image.date}</div>
						</footer>
					</div>

					`
				)
			})

		})
	</script>
</head>

<body>
	<div class="boardlist-wrapper">
		<div class="boardlist-main">
			<div class="boardlist-main-header">
				<div class="boardlist-main-header-title">
					<a href="index2.html">
						<img src="images/logo.png">
							<span>PolaroidIFY</span>
						  </a>
				</div>
				<div class="boardlist-main-header-menu">
					<a href="about.html">Why Polaroid?</a>
					<a href="galery.html"> 둘러보기</a>
					<a href="upload.html">업로드</a>
					<div class="mymenu">
					  <div class="mymenu">
							<a>마이페이지</a>
							<div class="submenu">
								<a href="mygallery.html">보관함</a>
								<a href="index.html">로그아웃</a>
							</div>
						</div>
				   
					
				</div>
				
			</div>
			


			<div class="boardlist-main-card">
				<!-- 이미지 리스트 -->
			</div>
		</div>
	</div>
	
	  
</body>
<footer class="home-footer">
	<a> designed by Songwonjong </a>
	<br>
	"Falling in love should be like Polaroids — instant."
	<br>
	<a href="https://www.instagram.com/songmach2/">Instagram</a>
  </footer>
</html>