<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!--Custom CSS-->
  <link rel="stylesheet" href="style.css">
  <link rel="stylesheet" type="text/css" href="styles.css">
  <!--JQuery-->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <!--Bulma-->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
  <!-- Bulma Icon -->
  <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
  <!--Cookie-->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/exif-js/2.3.0/exif.min.js"></script>
  <title>PolaroidIFY</title>


  <script src="https://cdnjs.cloudflare.com/ajax/libs/exif-js/2.3.0/exif.min.js"></script>
  <script>
    function go_upload() {
      const login = null;
      if (login == null){
        alert("로그인이 필요합니다.");
        location.href = "login.html";
      }
      else {
        location.href = "upload.html";
      }
    }
  </script>
  
</head>



<body>
  <div class="home-wrapper">
    <div class="home-main">
      <div class="home-main-header">
        <div class="home-main-header-title">
          <a><img src="logo.png">
            <span>PolaroidIFY</span>
          </a>
        </div>
        <div class="home-main-header-menu">
          <a href="about.html">Why PolaroidIFY?</a>
          <a href="galery.html"> 둘러보기</a>
          <!-- <a href="upload.html">업로드</a> -->
          <a href="login.html">로그인</a>


        </div>
      </div>
      <div class="home-main-card">
        <div class="home-main-card-title">
          당신의 사진을 폴라로이드로 만들어 보세요!
        </div>

        <div class="card" style="cursor: auto">
          <div class="card-content">
            <p class="title" style="display: flex; justify-content: center">
              <img src="시부야야경1.jpeg" onclick="openImage(this.src)" alt="이미징">



            </p>
            <!-- <div class="exif">
              iso: 100 shutterSpeed: 1/1000 aperture: 1.8
            </div> -->
            <div class="card-content-title-like">
              <h1 class="title" style="margin: 0">
                시부야 야경
              </h1>
            </div>
            <div class="card-content-comment">
              시부야 야경이에요! 장노출을 사용해서 찍은 사진들을 합성했어요!
            </div>
            <div class="icon-text">
              <span class="icon">
                <i class="fas fa-heart"></i>
              </span>
              <span id='{{board_id}}'>+18</span>
            </div>
          </div>
          <footer class="card-footer">
            <div>송원종</div>
            <div>2023-05-14</div>
          </footer>
        </div>
      </div>
    </div>

    <div class="home-explain">
      <div class="slideshow-container">
        <div class="slide fade">
          <img src="images/1.jpeg" alt="Image 1">
        </div>
        <div class="slide fade">
          <img src="images/2.jpeg" alt="Image 2">
        </div>
        <div class="slide fade">
          <img src="images/3.jpeg" alt="Image 3">
        </div>
        <div class="slide fade">
          <img src="images/4.jpeg" alt="Image 4">
        </div>
        <div class="slide fade">
          <img src="images/5.jpeg" alt="Image 5">
        </div>
        <div class="slide fade">
          <img src="images/6.jpeg" alt="Image 6">
        </div>
        <div class="slide fade">
          <img src="images/8.jpeg" alt="Image 7">
        </div>
        <div class="slide fade">
          <img src="images/7.jpg" alt="Image 8">
        </div>
      </div>
      
      <script src="script.js"></script>
      <div class="home-explain-text">
        <p style="font-weight: 500; font-size: 35px; font-family: 'Roboto'; color: #2370C8;">
          <b>ABOUT PolaroidIFY</b>
        </p>
        <p style="font-weight: bold; font-size: 48px; font-family: 'Roboto'; color: #262A4E; ">
          고정된 틀에서<br>벗어나 보세요!</p>
        <p style="font-size: 16px; font-family: 'Roboto'; color: #646464; ">
          당신의 추억을 폴라로이드 필름으로 만들고<br>
          다른 여러 사람들과 공유해보세요!<br>
        </p>
        <button style="margin-top: 10px;" class="button is-info" onclick="go_upload()">자랑하러가기!
        </button>
      </div>
    </div>
  </div>
  
 
  
</body>
<footer class="home-footer">
  <a> designed by Songwonjong </a>
  <br>
  "Falling in love should be like Polaroids — instant."
  <br>
  <a href="https://www.instagram.com/songmach2/">Instagram</a>
</footer>
</html>