<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--Custom CSS-->
    <link rel="stylesheet" href="css/gallery.css">
    <link rel="stylesheet" href="css/style.css">

    <!--JQuery-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <!--Bulma-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
    <!-- Bulma Icon -->
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>



    <title>인화하기</title>
</head>

<body>

    <body>
        <div class="boardlist-wrapper">
            <div class="boardlist-main">
                <div class="boardlist-main-header">
                    <div class="boardlist-main-header-title">
                        <a href="index2.html">
                            <img src="logo.png">
                            <span>PoloroidIFY</span>
                        </a>

                    </div>
                    <div class="boardlist-main-header-menu">
                        <a href="about.html">Why Polaroid?</a>
                        <a href="galery.html"> 둘러보기</a>
                        <a href="upload.html">업로드</a>
                        <div class="mymenu">
                            <a>마이페이지</a>
                            <div class="submenu">
                              <a href="mygallery.html">보관함</a>
                              <a href="index2.html">로그아웃</a>
                            </div>
                            
                          </div>
                       
                        
                    </div>
                </div>
            </div>
            <div class="home-explain">
                <div class="about-explain-img">
                    <img src="images/wall.jpeg"
                        alt="wall" width="500px" height="500px">
                        
               
                    <div class="home-explain-text">
                        <p style="font-weight: 500; font-size: 35px; font-family: 'Roboto'; color: #2370C8;">
                            <b>from digital to analog</b>
                        </p>
                        <p style="font-weight: bold; font-size: 41px; font-family: 'Roboto'; color: #262A4E; ">
                            당신의 사진을 인화해드립니다!</p>
                        <p style="font-size: 16px; font-family: 'Roboto'; color: #646464; ">
                            "Falling in love should be like Polaroids — instant."
"Shake it like a Polaroid picture." — Outkast, "Hey Ya!"
"Candle wax and Polaroids on the hardwood floor." — Taylor Swift, "New Year's Day"
"Thank you for trusting me to capture these memories for you."
"No one ever takes a photograph of something they want to forget." — One Hour Photo
"This day will never happen again."
"A photograph is the pause button on life." — Ty Holland
"Live life. Take pictures. Relive the memories. Repeat."
"Polaroid it."
"Keep calm and say cheese."
"And they lived happily ever after."
"Traditional film takes integrity, nostalgia, effort, patience and imagination." — Rebecca McNutt
"Never want to stop making memories with you."
"You don't take a photograph, you make it." — Ansel Adams
"Collect moments, not things."
"The question is not what you look at, but what you see." — Henry David Thoreau
"Say you'll remember me." — Taylor Swift, "Wildest Dreams"
"Making sure these moments last forever."
"These are the moments I wanted to keep."
"We just got to take our time. It's like nothing really matters, so let's make this moment a crime." — The Format, "Let's Make This Moment A Crime"
"Captured moments."
"Photography is the only language that can be understood anywhere in the world." — Bruno Barbey
"Wish my eyes could take photos."
“We just click.”
“Oh snap! We’re having a good time.”
“Are you a camera? Because I smile every time I look at you.”
“I can freeze time with a Polaroid pic. What’s your superpower?”
“I guess I call the shots.”
“TFW the pic turns out better than you expected.”
“Shutter up, this pic is amazing!”
                        </p>
                    </div>
                </div>
                <input type="button" value="인화하기" onclick="location.href='print.html'">
            </div>
          

    </body>
    <footer class="home-footer">
        <a> designed by Songwonjong </a>
        <br>
        "Falling in love should be like Polaroids — instant."
        <br>
        <a href="https://www.instagram.com/songmach2/">Instagram</a>
      </footer>
</html>